{% extends 'base.html.twig' %}
{% block body %}
	<div class="card_container">
		<h1>Random dog images</h1>
		<div class="card">
			<img src={{ urlImage }}>
			<div class="container">
				<a class="myBtn" href="/">ONE MORE</a>
			</div>
		</div>
		<h1>to keep your spirits up
		</h1>
	</div>
{% endblock %}
